html {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 500px;
  border: 1px solid black;
}

.row button {
  display: flex;

  /* vertical-align: middle; */
}

.ac {
}
