/* Makes entire page flex box */
html {
  display: flex;
  justify-content: center;
  
  /* credit to: Jean Quiche Lait for background */
  color: #000;
  background-image: radial-gradient(currentColor 1px, transparent 1px);
  background-size: calc(10 * 1px) calc(10 * 1px);
}




/* outline of calculator */
.outline {
  margin-top: 150px;
  padding: 15px;
  background-color: black;
  width: 100%;
}

/* Makes screen that displays everything pretty */
#screen {
  box-sizing: border-box;
  width: 270px;
  height: 50px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column-reverse;
  padding: 5px;
  background-color: grey;
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
  font-size: 30px;
}

/* Takes care of all the buttons visuals */
.values {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 280px;
  height: 300px;
  /* border: 1px solid black; */
}

/* Put spacing between all buttons */
.column button {
  display: flex;
  margin: 10px;
}

/* Make buttons round */
button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  /* background-color: lightgray; */
}

/* white box with text */
.footer {

  font-size: 20px;
  font-weight: 900;
  background-color: white;
}

/* center github link */
a{
  display: flex;
  justify-content: center;
}
